.btn {
    background-color: var(--violet);
    color: var(--white);
    font-family: inherit;
    cursor: pointer;
    height: 40px; 
    border-radius: 5px;
    border: 1px solid transparent; 
    padding: 0 15px;
    white-space: nowrap;

    &:active { transform: scale(.985) }

    &:hover {
        background-color: transparent;
        color: var(--violet);
        border-color: var(--violet);
    }
}

.load__more__btn {
    display: flex;
    align-items: center;
    margin: 0 auto 70px;

    @include rwd(600) {
        margin-bottom: 50px;
    }
}

.search__bar__btn {
    @include rwd(600) {
        position: relative;
        height: 36px; width: 36px;

        span { display: none }
    
        &::after {
            content: '';
            position: absolute;
            background-image: url(../../images/desktop/icon-search-white.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 16px;
            top: 0; bottom: 0; right: 0; left: 0;
            z-index: 2;
        }

        &:hover::after {
            background-image: url(../../images/desktop/icon-search.svg);
        }
    }
}