.job__listing {
    margin: 0 calc(9vw + 100px);
    @include rwd(1050) {
        margin: 0 4vw;
    }

    &__header {
        display: flex;
        min-height: 120px;
        padding: 15px 0;
        border-radius: 5px;
        transform: translateY(-30px);
        background-color: var(--main-base);
        overflow: hidden;

        .header {
            &__image__container {
                display: flex;
                align-items: center;
                width: 150px;

                img { max-width: 100% }

                .no-logo {
                    @include no-logo();
                    position: relative;
                    height: calc(100% + 30px);
                }
            }

            &__textbox {
                @include display-align-justify(flex, center, space-between);
                flex: 1;
                padding: 0 50px;

                &__heading { margin-bottom: 8px }

                &__company-redirect {
                    text-align: center;
                    margin-left: 50px;
                    white-space: nowrap;

                    small {
                        display: none;
                        color: rgba(red, .75);
                        margin-top: 5px;
                    }

                    &.invalid {
                        a {
                            border: 1px solid rgba(red, .4);
                            background-color:rgba(red, .1);
                            color: rgba(red, .6);
                            pointer-events: none;
                        }

                        small { display: inline-block }
                    }
                }

                .btn {
                    display: flex;
                    margin-left: auto;
                    text-decoration: none;
                    align-items: center;
                    height: 55px;
                    padding: 0 25px;
                    background-color: hsla(235, 82%, 77%, .25);
                    color: var(--company-site-btn);

                    &:hover {
                        border-color: var(--company-site-btn);
                    }
                }
            }
        }
    }

    &__body {
        background-color: var(--main-base);
        padding: 35px;
        word-wrap: break-word;

        .body {
            &__heading {
                @include display-align-justify(flex, center, space-between);
                margin-bottom: 30px;

                &__title { margin: 8px 50px 8px 0px }

                &__location { color: var(--violet) }

                .btn {
                    @include display-align-justify(flex, center, center);
                    text-decoration: none;
                }
            }

            &__main {
                line-height: 1.4;

                h1, h2, h3 { 
                    margin: 20px 0 5px;
                }

                p > strong {
                    display: inline-flex;
                    margin-top: 30px;
                }

                ul, ol {
                    margin: 15px 0;
                    list-style: none;

                    li {
                        position: relative;
                        margin: 0 50px 10px calc(50px + 1em);
                        &:last-of-type { margin-bottom: 0 }

                        &::before {
                            @include display-position(inline-block, absolute);
                            content: "\2022";
                            color: var(--violet);
                            width: 1em;
                            margin-left: -1em;
                        }
                    }
                }
            }
        }
    }

    &__cta {
        position: relative;
        overflow-wrap: break-word;
        color: var(--white);
        margin: 20px 0 60px;
        padding: 35px;
        border-radius: 5px;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../../images/desktop/bg-pattern-detail-footer.svg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 0; bottom: 0; right: 0; left: 0;
            z-index: -1;
        }

        .cta__body ul {
            margin: 20px 0 20px 20px;

            li {
                margin-bottom: 8px;
                &:last-of-type { margin-bottom: 0; }
            }
        }
        

        h1, h2, h3, h4, p > strong, a {
            color: var(--white)
        }
    }

    &__footer {
        @include display-align-justify(flex, center, space-between);
        padding: 25px 35px 20px;
        background-color: var(--main-base);

        .footer__textbox {
            &__position {
                margin-bottom: 10px;
            }
        }

        .btn {
            @include display-align-justify(flex, center, center);
            text-decoration: none;
        }
    }

    @include rwd(720) {
        &__header {
            flex-direction: column;
            text-align: center;
            overflow: visible;

            .header {
                &__textbox {
                    flex-direction: column;

                    &__company-redirect {
                        margin: 15px 0 0 0;
                    }
                }

                &__image__container {
                    margin: -55px auto 20px;
                    border-radius: 5px;
                    overflow: hidden;
                    height: 80px; width: 80px;
                    background-color: var(--main-base);
                }
            }
        }
    }

    @include rwd(600) {
        &__body {
            .body {
                &__heading {
                    flex-direction: column;
                    align-items: flex-start;

                    .btn {
                        width: 100%;
                        margin-top: 30px;
                        justify-content: center;
                    }
                }

                &__main ul, ol {
                    li { margin: 0 15px 10px calc(15px + 1em) }
                }
            }
        }

        &__footer {
            position: relative;
            left: -4vw;
            width: calc(100% + 8vw);

            .footer__textbox { display: none }

            .btn { width: 100% }
        }
    }
}