:root {
    --violet: hsl(235, 60%, 61%);
    --violet--light: hsl(235, 82%, 77%);
    --blue--dark: hsl(219, 29%, 14%);
    --midnight: hsl(220, 29%, 10%);
    --white: hsl(0, 0%, 100%);
    --gray--light: hsl(210, 22%, 96%);
    --gray: hsl(212, 23%, 69%);
    --gray--dark: hsl(214, 17%, 51%);
}