@import 'styles/utils/variables';
@import 'styles/utils/mixins';

@import 'styles/themes/theme';

@import 'styles/base/global';
@import 'styles/base/typography';

@import 'styles/layout/jobBoard';

@import 'styles/pages/home';

@import 'styles/components/header';
@import 'styles/components/searchBar';
@import 'styles/components/thumbnail';
@import 'styles/components/jobListing';
@import 'styles/components/spinner';
@import 'styles/components/error';
@import 'styles/components/btn';